<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YourHood</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-3.1.1.min.js"></script>
    
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/userHome">Home</a></li>
            <li role="presentation" class="active"><a href="#">Edit Profile</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
            <li role="presentation"><a href="/showSignup">Sign Up</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>Your Profile</h1>
        <form class="form-signin" action="/updateProfile" method="post">

          <label for="address" class="sr-only">Address</label>
          <input type="text" name="address" id="address" class="form-control" placeholder="address" value="{{curr_address}}" autofocus>

          <label for="city" class="sr-only">City</label>
          <input type="text" name="city" id="city" class="form-control" placeholder="city" value="{{curr_city}}" autofocus>

          <label for="state" class="sr-only">State</label>
          <input type="text" name="state" id="state" class="form-control" placeholder="state" value="{{curr_state}}" autofocus>

          <label for="fname" class="sr-only">First Name</label>
          <input type="text" name="fname" id="fname" class="form-control" placeholder="first name" value="{{curr_fname}}" autofocus>

          <label for="lname" class="sr-only">Last Name</label>
          <input type="text" name="lname" id="lname" class="form-control" placeholder="last name" value="{{curr_lname}}" autofocus>

          <label for="age" class="sr-only">Age</label>
          <input type="number" name="age" id="age" min="0" max="1000" class="form-control" placeholder="age" value="{{curr_age}}" autofocus>

          <label for="bio" class="sr-only">Bio</label>
          <input type="text" name="bio" id="bio" class="form-control" placeholder="bio" value="{{curr_bio}}" autofocus>

          <!-- TODO: Photo viewing and uploading -->

          <label for="visibility" class="sr-only">Visibility</label>
          <select name="visibility" id="visibility">
            <option value="F" {% if curr_visibility == "F" %}selected{% endif %}>Friends</option>
            <option value="FOF" {% if curr_visibility == "FOF" %}selected{% endif %}>Friends of Friends</option>
            <option value="E" {% if curr_visibility == "E" %}selected{% endif %}>Everyone</option>
          </select>

          <button id="btnUpdateProfile" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
      </form>       
      </div>

      <footer class="footer">
        <p>YourHood</p>
      </footer>

    </div>
  </body>
</html>