<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YourHood</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-3.1.1.min.js"></script>
    
  </head>

  <body>



    <div class="container">
      <form action="/search" method="post">

        <label for="search_type" class="sr-only">Search Type</label>
        <select name="search_type" id="search_type">
          <option value="users">Users</option>
          <option value="hood_messages">Neighborhood Messages</option>
          <option value="friend_messages">Friend Messages</option>
        </select>

        <div class="input-group">
          <input type="text" name="search_value" id="search_value" class="form-control" placeholder="Search" required>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>

      </form>
    </div>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/userHome">Home</a></li>
            <li role="presentation"><a href="/userHood">Neighborhood</a></li>
            <li role="presentation"><a href="/userFriends">Friends</a></li>
            <li role="presentation"><a href="/userFOF">Friends of Friends</a></li>
            <li role="presentation"><a href="/editProfile">Edit Profile</a></li>
            <li role="presentation"><a href="/showFriendRequests">Friend Requests</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
            <li role="presentation"><a href="/showSignup">Sign Up</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>

      <br/>

      <div class="jumbotron">
        <h1>Friends' messages with search value</h1>
      </div>

      <br/>
      <h3>Messages</h3>

      <table border=1>
        <tr>
          <th>Poster</th>
          <th>Title</th>
          <th>Body</th>
          <!-- TODO: implement support for multimedia -->
          <th>Post Time</th>
        </tr>
        {% for message in messages %}
            <tr>
              <td><a href="/users/{{message[0]}}">{{message[0]}}</a></td>
              <td>{{message[1]}}</td>
              <td>{{message[2]}}</td>
              <td>{{message[4]}}</td>
            </tr>
        {% endfor %}
      </table>

      
      <footer class="footer">
        <p>YourHood</p>
      </footer>

    </div>
  </body>
</html>